@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display:flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif
       
}

.header{
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9f9f8;
    padding: 0 20%;
    
}

.top{
    display:flex;
    justify-content: space-between;
    flex:1;
}

.top img{
    width:100px;
    height:auto;
}

.top ul{
    display:flex;
    align-items: center;
    list-style: none;
    gap:24px;
    margin:0;
    padding:0;
}

.top ul li a{
    text-decoration: none;
    color: #f9f9f8;
}

.hero{
    display:flex;
    padding: 48px 0;
    flex:1 0 0;
    gap:32px;
}

.left{
    max-width: 50%;
    display:flex;
    flex-direction: column;
}

.left .hero-title{
    font-size: 48px;
    font-weight:800;
    color: #F9F1F8
}

.hero button{
    background-color: #3882f6;
    color:#E5E7EB;
    border-radius: 5px;
    padding:5px 20px;
    font-weight:900;
    border-width:0;
    width: 100px;
    display:flex;
    align-content: center;
    justify-content: center;
    margin-top: 8px;
    
}

.right{
    background:none;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:32px;
    flex-grow:1;
}

.second{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0 20%;
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    width:150px;
    color: grey;
}

.card img{
    border: 3px solid #3882F6;
    height:80px;
    width: 80px;
    border-radius: 5px;
}

.card-container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    gap: 18px;
    text-align: center;
}

.third{
    background-color: #E5E7EB;
    color:#1f2937;
}

.quote-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0 25%;
}

.quote{
    display:flex;
    justify-content: flex-start;
    text-align: left;
    color:#1f2937;
    
}

p.quote{
    font-size: 26px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 0px;
}

p.sayer{
    text-align: right;
    width:100%;
    margin-top:0;
}

.footer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:120px;
    background-color: #f9f9f8;
    padding: 50px 20%;
    
}



.footer-container{
    background-color: #3882f6;
    display:flex;
    flex:1;
    border-radius: 5px;
    color: #f9f9f8;
    justify-content: space-between;
    padding:25px 100px;
    
}

.action-text{
    display:flex;
    flex-direction:column;
    align-self: center;
    flex:1;
}

.call{
    font-weight:900;
}

.footer .footer-container button{
    background-color: #3882f6;
    color:white;
    border-radius: 5px;
    padding:5px 20px;
    font-weight:900;
    border-color: white;
    border-width: 2px;
    border-style:solid;
    align-self: center;
}